<section class="container admin-dashboard">

<% if(role == "admin"){ %>
  <h1 class="mt-4">Admin</h1>
  <p class="lead mb-3">Welcome <%= name %></p>
  <a href="/users/logout" class="btn btn-secondary">Logout</a>
<div class="add-container">
    <div id="admin-add">
   <span>Add an admin
  <i class="fas fa-user-plus"></i></span>
  </div>

     <div id="instrument-add">
   <span>Add drumkit
  <i class="fas fa-user-plus"></i></span>
  </div>
     <div id="news-add">
   <span>Post news
  <i class="fas fa-user-plus"></i></span>
  </div>
  </div>
   <% include ./partials/admin-form %>
   <% include ./partials/form_instrument %>


 <table class="table table-hover table-dark container mt-5">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">email</th>
        <th scope="col">role</th>
      </tr>
    </thead>
    <tbody>
   <% for(let user of data){ %>
      <tr>
        <td><%= user.name%></td>
        <td><%= user.email%></td>
        <td><%= user.role%></td>
        <td id="delete-post-btn">
        <span class="delete-post-btn">
        <i class="fas fa-times"></i>
        </span>
        </td>
      </tr>
    </tbody>
    <% } %>
  </table>

<% }else { %>
  <h1 class="mt-4">Profile</h1>
  <p class="lead mb-3">Welcome <%= name %></p>
  <a href="/users/logout" class="btn btn-secondary">Logout</a>
  
  <table class="table table-hover table-dark container mt-5">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Message</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
    <% for(let i of data){%>
      <tr>
        <td thread-id="<%= i._id %>"><%= i.title%></td>
        <td><%= i.message%></td>
        <td><%= i.category %></td>
        <td id="delete-post-btn">
        <span class="delete-post-btn">
        <i class="fas fa-times"></i>
        </span>
        </td>
      </tr>
    <% } %>
    </tbody>
  </table>
  <% } %>
</section>