<h1 class="forum-header">Forum</h1>
<main class="forum-main">
  <aside class="forum-bar b-r">
    <ul>
      <li>synth</li>
      <li>drum</li>
      <li>songs</li>
    </ul>
  </aside>
  <section class="forum-section">
    <h2>Latest Posts</h2>
    <div class="forum-card">
      <h3>{{username}}</h3>
      <h4>title</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptatum fugit atque quia nesciunt ab.</p>
      <div class="forum-share">
        <i class="fab fa-github"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-reddit-square"></i>
      </div>
    </div>
    <div class="forum-card">
      <h3>{{username}}</h3>
      <h4>title</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptatum fugit atque quia nesciunt ab.</p>
      <div class="forum-share">
        <i class="fab fa-github"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-reddit-square"></i>
      </div>
    </div>
    <div class="forum-card">
      <h3>{{username}}</h3>
      <h4>title</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptatum fugit atque quia nesciunt ab.</p>
      <div class="forum-share">
        <i class="fab fa-github"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-reddit-square"></i>
      </div>
    </div>
    <div class="forum-card">
      <h3>{{username}}</h3>
      <h4>title</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptatum fugit atque quia nesciunt ab.</p>
      <div class="forum-share">
        <i class="fab fa-github"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-reddit-square"></i>
      </div>
    </div>
    <div class="forum-card">
      <h3>{{username}}</h3>
      <h4>title</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptatum fugit atque quia nesciunt ab.</p>
      <div class="forum-share">
        <i class="fab fa-github"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-reddit-square"></i>
      </div>
    </div>
    <div class="forum-card">
      <h3>{{username}}</h3>
      <h4>title</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptatum fugit atque quia nesciunt ab.</p>
      <div class="forum-share">
        <i class="fab fa-github"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-reddit-square"></i>
      </div>
    </div>
    <div class="forum-card">
      <h3>{{username}}</h3>
      <h4>title</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptatum fugit atque quia nesciunt ab.</p>
      <div class="forum-share">
        <i class="fab fa-github"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-reddit-square"></i>
      </div>
    </div>
  </section>
</main>