<section class="forum m-5" id="forum">
  <h1 class="forum-header m-5">Forum</h1>
  <div class="container">
    <div class="row ml-5 form-display" id="form-display">
      <i class="fas fa-3x fa-plus new-thread-header"></i>
      <h2 class="ml-3 new-thread-header">New Thread</h2>
    </div>
    <form class="new-thread">
      <div class="form-group form-content ">
        <label for="new-post-forum-title">Title</label>
        <input
          class="bg-dark 
          "
          type="text"
          name="new-post-forum-title"
          id="new-post-forum-title"
          placeholder="input your title here..."
        />
      </div>
      <div class="form-group form-content">
        <label for="form-category">Category</label>
        <select
          class="form-category btn bg-dark btn-sm dropdown-toggle"
          id="form-category"
        >
          <option value="Synth">Synth</option>
          <option value="Drum">Drum</option>
          <option value="Songs">Songs</option>
          <option value="bug reports">Bug Reports</option>
        </select>
      </div>
      <div class="form-group form-content">
        <label for="form-message">Message</label>
        <textarea class="form-control bg-dark container" id="form-message" placeholder="input your text here..."></textarea>
        <button class="btn-primary btn" id="create-thread">
          Create Thread
        </button>
      </div>
    </form>
  </div>

</section>
<section id="thread-container" class="container thread-container">
 <%# Thread population %>

  <% for(let thread of threads){%>
  
<div class="card text-white bg-light mx-5 forum-card">
 <a href="/thread/<%= thread.id%>"> 
  <h5 class="card-header text-white card-title"><%= thread.title%></h5>
     </a>
    <div class="card-body">
      <p><%= thread.message%></p>
      <p class="badge badge-success card-text">
          <%= thread.owner.name %>
      </p>
        <p class="card-text">
          <%= moment(thread.date).format("MMMM Do YYYY, h:mm") %>
      </p>
     
    </div>
  </div>
<% } %>

<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Please sign in to continue : ) 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</section>
 